body{
  font-size:1.75em;
}
#form-container{
  padding:0px;
}
.jumbotron{
  margin-top:10px;
}
.bigquestion{
  color:darkred;
  margin-top:20px;
  background-color:#F8F8FF;
  padding:5px;
  font-weight:bolder;
}
.questionContainer{
  margin-top:20px;
}
.modal-title{
  font-weight: bolder;
  color: 	#1E90FF;
}
.question{
  font-weight: bold;
}
#loading {
  margin:auto;
  width: 100px;
  height: 100px;
  display: none;
  background: url(/static/loadingimage.gif) no-repeat;
  background-size: 75%;
  cursor: wait;
}
#submitFormBtn{
  height:50px;
  font-size: 1.5em;
  margin-bottom: 20px;
}
.footer{
   border-top: 1px solid grey;
   padding-top:10px;
   padding-bottom: 10px;
  text-align:center;
  font-size:0.75em;
}
#regras{
  margin-top:20px;
  padding:5px;
  background-color: #F8F8FF;
  font-weight:bolder;
}
