{% extends "_base.html" %}
{% block content %}
	<div class="container top-container col-md-12">
            <div id="intro" class="jumbotron col-md-10 col-lg-8 col-sm-12 col-md-offset-1 col-lg-offset-2">
                <div>
                    <h1>Indução de Sequência Rápida <br><small>Prática dos anestesiologistas portugueses</small></h1>
                </div>
                <div>
									<p>Por favor, responda às seguintes questões considerando um doente adulto, sem história ou sinais de via aérea difícil e sem contra-indicação a nenhum dos gestos/fármacos abaixo listados:</p>
                </div>
								<button class="btn-primary btn-lg" data-toggle="modal" data-target="#info-modal">Sobre esta sondagem</button>
								<button class="btn-primary btn-lg"  data-toggle="modal" data-target="#mail-modal">Contacto</button>

            </div>
            <div id="form-container" class="container col-md-10 col-lg-8 col-sm-12 col-md-offset-1 col-lg-offset-2">
            <div id="error-message" hidden>
                <span class="glyphicon glyphicon-warning-sign"></span> Por favor, responda às questões realçadas!
            </div>

                <form id="myForm" method="post" action="{{url_for('submit_form')}}" >
                    <p class="bigquestion">Informação Pessoal</p>
                    <div id="catProf" class="questionContainer">
                    <h4 class="question">Categoria Profissional:</h4>
                    <div class="radio">
                        <label><input type="radio" name="catProf" value="especialista">Especialista</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="catProf" value="interno">Interno</label>
                    </div>


											<div id="anosXpDiv" class="questionContainer" hidden>
											<select class="form-control" id="anosXp" name="anosXp" style="width:auto;">
											<option value="">Quantos anos de especialista?</option>
											<option value="<10"> < 10 anos</option>
											<option value="10-20" > 10 - 20 anos</option>
											<option value=">20"> 20 anos</option>
											</select>

										</div>
                    </div>
									<p class="bigquestion first">Quais os gestos que executa por rotina na realização de uma ISR?</p>
                    <div id="posicionamento" class="questionContainer">
                    <h4 class="question">Posicionamento do doente:</h4>
                    <div class="radio">
                        <label><input type="radio" name="posicionamento" value="ddorsal">Decúbito dorsal a 0º</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="posicionamento" value="elev">Decúbito dorsal com elevação da cabeceira/proclive</label>
                    </div>
                    </div>
                    <div id="preox" class="questionContainer">
                    <h4 class="question">Pré-oxigenação:</h4>
                    <div class="radio">
                        <label><input type="radio" name="preox" value="100">Máscara facial fluxo de O2 a 100%</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="preox" value="mix">Máscara facial com fluxo de O2 inferior a 100%</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="preox" value="0">Não realizo pré-oxigenação por rotina</label>
                    </div>
                    </div>
                    <div id="sellick" class="questionContainer">
                    <h4 class="question">Aplicação de pressão cricoideia (manobra de Sellick):</h4>
                    <div class="radio">
                        <label><input type="radio" name="sellick" value="s" >Sim</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="sellick" value="n">Não</label>
                    </div>
                    </div>
                    <div id="whyNoSellick" class="escondido questionContainer" hidden>
                        <h4 class="question">Por que motivo(s) não executa a manobra de Sellick? (pode assinalar várias opções)</h4>
                         <div class="checkbox">
                        <label><input type="checkbox" class="whyNoSellick" name="whyNoSellick" value="utilidade">Por não a considerar útil/eficaz na prevenção da regurgitação</label>
                    </div>
                         <div class="checkbox">
                        <label><input type="checkbox" class="whyNoSellick" name="whyNoSellick" value="laringoscopia">Por dificultar a laringoscopia</label>
                    </div>
                         <div class="checkbox">
                        <label><input type="checkbox" class="whyNoSellick" name="whyNoSellick" value="execucao">Por dificuldade em garantir que seja executada corretamente</label>
                    </div>
                         <div class="checkbox">
                        <label><input type="checkbox" class="whyNoSellick" name="whyNoSellick" id="outra" value="outra">Outra</label>
                    </div>
                    </div>
                    <div id="vent" class="questionContainer">
                    <h4 class="question">Ventilação com máscara facial após perda de ventilação espontânea:</h4>
                    <div class="radio">
                        <label><input type="radio" name="vent" value="nunca">Nunca</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="vent" value="algumas">Apenas quando existe/se instala hipoxémia durante este período</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="vent" value="s">Sim, desde que não se exceda determinado valor de pressão na via aérea</label>
                    </div>

                     <div class="radio">
                        <label><input type="radio" name="vent" value="sempre">Sempre</label>
                    </div>
                    </div>
										<p class="bigquestion">Relativamente aos fármacos que habitualmente utiliza numa ISR:</p>
                    <div id="opioid" class="questionContainer">
											<h4 class="question">Administra opióide?</h4>
											<div class="radio">
													<label><input type="radio" class="opioid" name="opioid" value="s">Sim</label>
											</div>
											 <div class="radio">
													<label><input type="radio" class="opioid" name="opioid" value="n">Não</label>
											</div>
										</div>
										<div id="sequence" class="questionContainer">
											<h4 class="question">Qual das seguintes afirmações descreve melhor a sua administração de fármacos numa ISR?</h4>
											<div class="radio">
													<label><input type="radio" class="sequence" name="sequence" value="classica">Administração de dose pré-definida de anestésico endovenoso imediatamente seguida de administração de relaxante muscular</label>
											</div>
											 <div class="radio">
													<label><input type="radio" class="sequence" name="sequence" value="titulada">Administração titulada de anestésico endovenoso até ocorrer perda de reflexos, seguida de administração de relaxante muscular</label>
											</div>
											<div class="radio">
												 <label><input type="radio" class="sequence" name="sequence" value="curariza">Administração de relaxante muscular em primeiro lugar, seguida do anestésico endovenoso</label>
										 </div>
										</div>
                    <div id="relax" class="questionContainer">
                        <h4 class="question">Qual o relaxante muscular que utiliza preferencialmente na execução de uma ISR?</h4>
			<span id="commentSuga">(Considere uma situação onde existe Sugammadex disponível em dose para reversão imediata do bloqueio neuromuscular)</span>
                    <div class="radio">
                        <label><input type="radio" class="relax" name="relax" value="sux">Succinilcolina</label>
                    </div>
                     <div class="radio">
                        <label><input type="radio" class="relax" name="relax" value="roc">Rocurónio</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" class="relax" name="relax" value="other">Outro</label>
                    </div>
                    </div>

                    <div id="escondesux" class="escondido questionContainer"hidden>
                    <h4 class="question">Previamente à administração de succinilcolina, administra dose de relaxante muscular não despolarizante para prevenir ocorrência de fasciculações? </h4>
                    <div class="radio">
                        <label><input type="radio" class="fasc" name="fasc" value="s">Sim</label>
                    </div>
                     <div class="radio">
                        <label><input type="radio" class="fasc" name="fasc" value="n">Não</label>
                    </div>
                    </div>
                    <div id="esconderoc" class="escondido questionContainer" hidden>
                     <h4 class="question">Manteria a sua opção caso não tenha acesso imediato a Sugammadex?</h4>
                    <div class="radio">
                        <label><input type="radio" class="suga" name="suga" value="s">Sim</label>
                    </div>
                     <div class="radio">
                        <label><input type="radio"  class="suga" name="suga" value="n">Não</label>
                    </div>
                    </div>
										<div id="escondedose" class="escondido questionContainer" hidden>
										 <h4 class="question">Que dose de rocurónio administra numa ISR?</h4>
										<div class="radio">
												<label><input type="radio" class="dose" name="dose" value="0.6">0.6 mg/Kg</label>
										</div>
										 <div class="radio">
												<label><input type="radio"  class="dose" name="dose" value="1.0">1.0 mg/Kg</label>
										</div>
										<div class="radio">
											 <label><input type="radio"  class="dose" name="dose" value="1.2">1.2 mg/Kg</label>
									 </div>
									 <div class="radio">
											<label><input type="radio"  class="dose" name="dose" value="outra">Outra</label>
									</div>
										</div>
                    <div id="escondeprime" class="escondido questionContainer" hidden>
                        <h4 class="question">Administra uma dose de
<span id="priming" data-toggle="tooltip" title="Priming: Administração de pequena dose de relaxante muscular não despolarizante alguns minutos antes da administração da dose de indução"><i>priming</i></span> para acelerar o bloqueio neuromuscular?</h4>
                    <div class="radio">
                        <label><input type="radio" class="prime" name="prime" value="s">Sim</label>
                    </div>
                     <div class="radio">
                        <label><input type="radio" class="prime" name="prime" value="n">Não</label>
                    </div>
                    </div>
										<p class="bigquestion">Relativamente à técnica de intubação:</p>
										<div id="laringo" class="questionContainer">
										<h4 class="question">Qual o tipo de laringoscopia que utiliza como primeira opção numa ISR?</h4>
										<div class="radio">
												<label><input type="radio" name="laringo" value="directa">Laringoscopia directa</label>
										</div>
										<div class="radio">
												<label><input type="radio" name="laringo" value="video">Videolaringoscopia</label>
										</div>
									</div>
									<br>
									<div>
                     <input id="submitFormBtn" type="submit" name="submit" class="btn btn-primary btn-block" value="Submeter">
									</div>
                </form>
								<div class="footer">
								 Nuno Veiga - 2016
							 </div>
            </div>
</div>

{% endblock %}
